/*NOTAS IMPORTANTES

ESTA PAGINA ESTA HECHA PARA SER VISTA EN 3 TIPOS DE DISPOSITIVOS

    1.- Móviles pequeños(menos de 600px)
    2.- Tablets (600px a 1024px) 
    3.- Pantallas de escritorio (más de 1024px)

Cada vez que vaya bajando o subiendo la resolución al llegar a los limites establecidos la 
visualización cambiará

Por defecto la pagina esta hecha principalmente para tablets.

*/







/*Selector Universal*/
* {
    margin: 0;
    /*espacio exterior*/
    padding: 0;
    /*espacio interior*/
    box-sizing: border-box;
}

#logo {
    box-shadow: 
      0px 0px 10px 5px rgba(255, 132, 0, 0.897), 
      0px 0px 20px 10px rgba(0, 255, 255, 0.5);
  }

h1 {
    border: 1px rgb(163, 169, 41) solid;
    width: 180px;
    height: 150px;
    padding: 8px;
    margin: 10px;

}

/*selector de tipo etiqueta*/
body {
    background-color: rgb(255, 180, 50);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    /*interlineado*/

}

/*selector de tipo clase*/

.contenedor {
    width: 80%;
    margin: 0 auto;
}

/*selector avanzado*/
header h1 {
    text-align: center;
    margin-bottom: 15px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    text-decoration: underline;
    color: white;

    /*Al pasar el cursor sobre el menu el color pasa a ser blanco de la fuente*/
}


header {
    background-color: rgb(0, 200, 200);
    color: rgb(11, 151, 151);
    padding: 10px 0;
    text-align: center;
    text-decoration: none;

}


header:hover {
    /*animacion de backgroud color*/
    background-color: rgb(0, 213, 255);
}

.estilo {
    background-color: rgb(0, 200, 200);
    padding: 20px;
    margin: 20px 0;
    transition: backgroud-color 0.3s ease;

}

.estilo:hover {
    /*animacion de backgroud color*/
    background-color: rgb(0, 213, 255);
}




.cta-button {
    background-color: rgb(255, 180, 50);
    color: white;
    padding: 20px 4px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 25px;
    text-decoration: none;

}

/*Ya que no podria centrarlo con el comando margin: auto o center tuve que hacer una flexbox 
    para el boton y asi centrarlo*/
.cta-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.cta-button:hover {
    background-color: rgba(249, 67, 0, 0.949);
}

/*seccion de historia*/

.historia-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    align-items: start;
    padding: 10px;
}

.historia-grid img {
    width: 100%;
    border-radius: 10px;
    object-fit: scale-down;
    grid-column: 1/3;
}

.historia-grid h2 {
    grid-column: 1/3;
    font-size: 2rem;


}

.historia-grid p {
    color: azure;
    grid-column: 3/4;
    font-size: 1.5rem;
    text-align: justify;
    line-height: 1.4;
}


/*estilos a los contenedores de tarjetas*/


.menu-contenedor {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 15px;

}

.card {
    background-color: blanchedalmond;
    border-radius: 10px;
    width: 250px;
    margin: 15px;
    text-align: center;
    transition: transform 0.3s ease;

}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.contpersonal {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    padding: 15px;
}

.personal-card {
    background-color: bisque;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 15px rgba(249, 67, 0, 0.949);
    transition: transform 0.3s ease;
}

.personal-card:hover {
    transform: translateY(-5px);
}

.personal-card img {
    border-radius: 50%;
    width: 180px;
    height: 100px;
    object-fit: scale-down;
    margin-top: 12px;
}

.redes-sociales {
    list-style: none;
    display: flex;
    justify-content: center;
}

.redes-sociales li {
    margin: 0 50px;
}

.redes-sociales a {
    color: #333;
    font-size: 24px;
}

.redes-sociales a:hover {
    color: #007bff;
}



footer {
    background-color: rgb(255, 180, 50);
    text-align: center;
    padding: 16px;
    width: 100%;
    position: fixed;
    bottom: 0;
}



/*media queris para moviles*/

@media (max-width:600px) {
    .contenedor {
        width: 90%;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    .historia-grid {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .historia-grid img,
    .historia-grid p,
    .historia-grid h2 {
        grid-column: 1/2;
        width: 100%;
    }

    .menu-contenedor {
        flex-direction: columns;
        align-items: center;
    }

    .contpersonal {
        grid-template-columns: repeat(auto-fit, minmax (150px, 1fr));
    }
}

/*media quieris para pantallas aun mas chicas*/

@media (max-width:480px) {
    .estilo h2 {
        font-size: 1.7 em;
    }

    .estilo p {
        font-size: 1em;
    }

    .cta-button {
        padding: 10px 20px;
        font-size: 1em;
    }

    .card {
        width: 90%;
    }

}

@media screen and (max-width:600px) {
    .prueba {
        background-color: violet;
    }

    .prueba2 {
        font-size: 1em;
    }
}

#logo {
    width: 600px;
    height: auto;
    margin: 0 auto;
    display: block;
}

@media screen and (max-width:600px) {
    #logo {
        width: 300px;
        height: auto;
        margin: 0 auto;
        display: block;
        border-radius: 50%;
    }


}

.home-intro h2 {
    grid-column: 1/3;
    font-size: 2rem;

}

.home-intro p {
    color: azure;
    font-size: 1.5rem;
    text-align: justify;
    line-height: 1.4;
    text-decoration: none;

}



form {
    width: 50%;
    margin: 0 auto;
}

label {
    display: flex;
    margin-bottom: 10px;
}

input,
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}

.prueba3 {

    visibility: hidden;
    /*Debido al pie de pagina se mueve con la pagina, el final de mi pagina se cortaba
   asi que puse un parrafo invisible para que ese no se vea pero si ponga espacio y deje ver mi pagina bien*/
}


/* Estilo para pantallas de escritorio de 1024px de ancho o más */
@media (min-width: 1024px) {

    h2 {
        font-size: 70px;
        color: magenta;
        text-align: center;

    }

    .historia-grid h2 {
        font-size: 50px;
        color: magenta;
        text-align: center;
    }

    .home-intro h2 {
        font-size: 70px;
        color: magenta;
        text-align: center;
    }

    .estilo h2{
        font-size: 70px;
        color: magenta;
        text-align: center;
    }

    .cta-button {
        background-color: rgb(246, 16, 35);
        color: white;
        padding: 20px 4px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 45px;
        text-decoration: none;

    }

    .cta-button:hover {
        background-color: rgba(100, 0, 249, 0.949);
    }

    nav ul li a {
        font-size: 35px;
    }

    body {
        background-color: rgb(246, 16, 35);
        font-family: Arial, Helvetica, sans-serif;
        line-height: 1.6;
        /*interlineado*/

    }

    header {
        background-color: rgb(24, 43, 209);
        color: rgb(11, 151, 151);
        padding: 20px 0;
        text-align: center;
        text-decoration: none;

    }

    nav ul {
        flex-direction: row;
        align-items: center;
    }

    .historia-grid {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .historia-grid img,
    .historia-grid p,
    .historia-grid h2 {
        grid-column: 1/2;
        width: 100%;
    }

    .historia-grid p {
        font-size: 35px;
    }

    .home-intro p {
        font-size: 35px;
    }

    .menu-contenedor {
        display: flex;
        justify-content: space-around;
        margin-top: 15px;

    }

    .card {
        background-color: rgb(242, 254, 0);
        border-radius: 20px;
        width: 320px;
        margin: 25px;
        text-align: center;
        transition: transform 0.3s ease;

    }

    .card:hover {
        transform: translateY(-25px);
    }

    .card img {
        width: 100%;
        object-fit: fill;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .prueba {
        background-color: rgb(255, 78, 2);
    }

    .prueba2 {
        font-size: 1.2em;
    }

    #logo {
        box-shadow: 
          0px 0px 10px 5px rgba(255, 47, 0, 0.897), 
          0px 0px 20px 10px rgba(0, 255, 255, 0.5);
      }

}