/*Selector Universal*/
*{
    margin: 0; /*espacio exterior*/
    padding: 0; /*espacio interior*/
    box-sizing: border-box;
}


h1{
    border: 1px rgb(163, 169, 41) solid;
    width: 180px;
    height: 150px;
    padding:  8px;
    margin: 10px;
}
/*selector de tipo etiqueta*/
body{
    background-color: darkorange;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6; /*interlineado*/

}

/*selector de tipo clase*/
.estilo{
    background-color: rgb(110, 151, 216);
}

.contenedor{
    width: 80%;
    margin:  0 auto;
  
}
/*selector avanzado*/
header h1{
    text-align: center;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li{
    margin: 1.5 15px;
}

nav ul li a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover{
    text-decoration: underline;
}


header{
    background-color: rgb(191, 229, 67);
    color: rgb(11, 151, 151);
    padding: 10px 0;
}
.estilo{
    background-color: azure;
    padding: 20px;
    margin: 20px 0;
    transition: backgroud-color 0.3s ease;
}

.estilo:hover{ /*animacion de backgroud color*/
    background-color: rgb(0, 213, 255); 
}

.cta-button{
    background-color: orangered;
    color: white;
    padding: 10px 2px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    margin-top: 23px;
}

.cta-button:hover{
    background-color: rgba(249, 67, 0, 0.949);
}

/*estilos a los contenedores de tarjetas*/

.menu-contenedor{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 15px;

}

.card{
    background-color: blanchedalmond;
    border-radius: 10px;
    width: 250px;
    margin: 15px;
    text-align: center;
    transition:transform 0.3s ease;

}

.card:hover{
    transform: translateY(-5px);
}
.card img{
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

footer{
    background-color: aqua;
    text-align: center;
    padding: 16px;
    width: 100%;
    position:fixed;
    bottom: 0;
}